# Configuration file for building a mapability track
TG3C.groot=/zdata/data/mishaDB/trackdb/XXXmutationXXX/

TG3C.gen_map_reads_pl=/home/minHiC2_sourceFiles/auxScripts/TG3C/generate_mapability_sequences.pl

TG3C.map_workdir=/zdata/data/mishaDB/trackdb/XXXmutationXXX/seq/mapa/
TG3C.full_seq_fn=/zdata/data/2024_01_08_HiC_Sandrine2/00_build_the_XXXmutationXXX_modified_genome/XXXmutationXXX.fa

TG3C.mapa_rlen=50
TG3C.mapa_step=10
TG3C.mapa_binsize=50

# mapping
TG3C.bowtie2_bin=/usr/bin/bowtie2
TG3C.bowtie2_ndx=/home/minHiC2_sourceFiles/bowtie2/idxs/XXXmutationXXX/XXXmutationXXX/
TG3C.bowtie2_threads=12

